@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=EB+Garamond:wght@500&display=swap');
.sectionLeft {
    float: left;
    width: 75%;
}

.sectionRight {
    float: right;
    width: 25%;
    overflow: scroll;
    height: 525px;
}

.scoreContainer {
    background-color: rgba(20, 19, 19, 0.411);
    border-radius: 30px;
    padding: 0.1px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    width: 50%;
    font-family: 'EB Garamond', serif;
}

.clickerContainer img {
    position: relative;
    transition: all .2s ease-in-out;
}

.clickerContainer img:hover {
    transform: scale(1.10);
}

.clickerContainer img:active {
    transform: scale(0.99);
}

.shopButton {
    background-color: rgb(202, 201, 199);
    transition: all .2 ease-in-out;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.shopButton #image {
    width: 25%;
}

.shopButton img {
    width: 64px;
    height: 64px;
}

.shopButton:hover {
    background-color: rgb(209, 209, 209);
    transition: all .2 ease-in-out;
}

.shopButton #nameAndCost p {
    margin: 0px;
    width: 60%;
}

.shopButton #nameAndCost p:first-of-type {
    font-size: 24px;
}

.shopButton #amount {
    font-size: 48px;
    color: #595959;
    font-family: roboto;
    width: 15%;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#version {
    font-family: roboto;
    padding-top: 160px;
    font-size: 26px;
}

#upgradeContainerBackground {
    background-color: #d1d1d1;
    border-radius: 5px;
}

#upgrade {
    padding-left: 5px;
    padding-top: 5px;
    font-size: 26px;
    font-family: 'Cinzel', serif;
}

#upgradeContainer img {
    background-color: rgb(179, 179, 179);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    padding: 5px;
    height: 48px;
    width: 48px;
}

#version {
    font-family: 'EB Garamond', 'serif';
}